* {
    font-family: 'Ubuntu', sans-serif;
    background-color: aqua;

}

body {
    font-size: 16px;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.header {
    font-size: 24px;
    position: initial;
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
    left: 20%;
}

.friends_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.no_friend {
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

img {
    height: 124px;
    width: 124px;
    margin-right: 20px;
}

div p {
    margin-top: 5px;
    margin-bottom: 5px;
}


button {
    margin: 15px;
}

button {
    background-color: #1473adcd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0f476acd;
}